#container{
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 700px;
    border: 10px yellow solid;
}
.grid-div{
    border: 1px black solid;
    width: 20px;
    height: 20px;
}
.black{
    background-color: black;
}
